<style>
	h1 {
		color: purple;
		text-align: center;
	}
</style>

<script>
	import { formValues, issues } from './store.js';
	import { fetchIssues, fetchRepo, fetchZenHubIssue } from './api.js';

	import Form from './Form.html';
	import Result from './Result.html';

	const { setItems, setRepo, setZhItem } = issues;

	function bail() {
		alert( 'Ooops!' );
	}

	async function setZhDetails ( token, repoId, issueId ) {
		const zhIssue = await fetchZenHubIssue( token, repoId, issueId );

		if ( ! zhIssue ) {
			return;
		}

		setZhItem( issueId, zhIssue );
	}

	async function loadIssues( repoId, url ) {
		const { ghToken, repoName, zhToken } = $formValues;
		const result = await fetchIssues( ghToken, repoName, url );

        if ( ! result ) {
            bail();
            return;
		}

		const { __nextPageLink = null } = result;
		const filteredIssues = result.filter( i => ! i.hasOwnProperty( 'pull_request' ) );

		setItems( filteredIssues, __nextPageLink );
		filteredIssues.forEach( i => setZhDetails( zhToken, repoId, i.number ) );
	}

    async function handleSubmit() {
		const { ghToken, repoName } = $formValues;

		const repo = await fetchRepo( ghToken, repoName );

		if ( ! repo ) {
			bail();
			return;
		}

		setRepo( repo );
		loadIssues( repo.id );
	}

	function loadMore() {
		if ( ! $issues.nextPage ) {
			return;
		}

		loadIssues( $issues.repo.id, $issues.nextPage );
	}
</script>

<h1>You've Got Issues!</h1>

<Form onSubmit={ handleSubmit } onClear={ issues.reset } canClear={ $issues.items.length > 0 } />

<Result onLoadMore={ loadMore } />
