<style>
    form {
        width: 95vw;
        max-width: 20rem;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    button[ disabled ] {
        color: #ccc;
    }
</style>

<script>
    import { formValues } from './store.js';
    import Input from './Input.html';

    export let canClear = false;
    export let onSubmit = () => {};
    export let onClear = () => {};

    let canSubmit = false;

    function  handleInputChange( id, value ) {
        formValues.setValue( id, value );
        canSubmit = Object.values( $formValues ).filter( Boolean ).length === Object.keys( $formValues ).length;
    }

    function handleSubmit( e ) {
        e.preventDefault();

        onSubmit();

        canSubmit = true;
    }
</script>

<form on:submit={ handleSubmit }>
    <Input label="CSV Delimiter" id="delimiter" onChange={ handleInputChange } value={ $formValues.delimiter } />
    <Input label="GitHub Token" id="ghToken" onChange={ handleInputChange } value={ $formValues.ghToken } />
    <Input label="ZenHub Token" id="zhToken" onChange={ handleInputChange } value={ $formValues.zhToken } />
    <Input label="Repository" id="repoName" onChange={ handleInputChange } value={ $formValues.repoName } placeholder="user/repo" />

    <p class="buttons">
        <button type="submit" disabled={ ! canSubmit }>Submit</button>
        {#if canClear}
            <button disabled={ ! canSubmit } on:click={ onClear }>Clear result</button>
            <button disabled={ ! canSubmit } on:click={ onClear }>Download CSV</button>
        {/if}
    </p>
</form>
