<style>
    input {
        width: 100%;
    }
</style>

<script>
    export let id = '';
    export let label = '';
    export let value = '';
    export let placeholder = '';
    export let onChange;

    function handleChange( e ) {
        onChange( e.target.id, e.target.value );
    }
</script>

<p>
    <label for={ id }>{ label }</label>
    <input type="text" id={ id } placeholder={ placeholder } on:input={ handleChange } bind:value />
</p>
