<style>
    table {
        border-collapse: collapse;
        max-width: 100vw;
        margin-bottom: 1rem;
    }

    td, th {
        border: 1px solid #ddd;
        padding: .25rem;
        max-width: 25rem;
        overflow: auto;
    }

    td {
        vertical-align: top;
    }

    td :global(img) {
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }

    td :global(pre) {
        max-width: 100%;
        overflow: auto;
    }

    .text-nowrap {
        white-space: nowrap;
    }

    .text-centered {
        text-align: center;
    }
</style>

<script>
    import marked from 'marked';
    import { format } from 'date-fns';

    import { issues } from './store.js';

    export let onLoadMore;

    function generateList( labels, key ) {
        const list = labels.map( l => l[ key ] );

        return list.join( ', ' );
    }

    function formatDate( date ) {
        return format( new Date( date ), 'D MMM YYYY' );
    }

    function getEstimate( item ) {
        return item.estimate ? Number( item.estimate.value ) || '' : '';
    }

    function getPipeline( item ) {
        return item.pipeline ? item.pipeline.name : '';
    }

    function getMilestone( item ) {
        return item.milestone ? item.milestone.title : '';
    }

    function isEpic( item ) {
        return item.is_epic ? 'Yes' : 'No';
    }
</script>

{#if $issues.items.length}
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Labels</th>
                <th>Author</th>
                <th>Created At</th>
                <th>Milestone</th>
                <th>Assigned To</th>
                <th>Description</th>
                <th>Pipeline</th>
                <th>Estimate Value</th>
                <th>Epic</th>
            </tr>
        </thead>
        <tbody>
            {#each $issues.items as i}
                <tr>
                    <td>{ i.number }</td>
                    <td>{ i.title }</td>
                    <td>{ generateList( i.labels, 'name' ) }</td>
                    <td>{ i.user.login }</td>
                    <td class="text-nowrap">{ formatDate( i.created_at ) }</td>
                    <td>{ getMilestone( i ) }</td>
                    <td>{ generateList( i.assignees, 'login' ) }</td>
                    <td>{@html marked( i.body )}</td>
                    <td>{ getPipeline( i ) }</td>
                    <td class="text-centered">{ getEstimate( i ) }</td>
                    <td>{ isEpic( i ) }</td>
                </tr>
            {/each}
        </tbody>
    </table>
{/if}

{#if $issues.nextPage}
	<p class="text-centered">
		<button type="button" on:click={ onLoadMore }>Load More</button>
	</p>
{/if}
